<div class="container" id="home-container">
  <div class="jumbotron text-center text-white">
    <h1 class="display-4">Welcome to SquarePlants</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <%= link_to "Create Post", new_post_path, class: "btn btn-success" %>
    </p>
  </div>
</div>

<div class='container'>
  <div class='row row-cols-sm-1 row-cols-md-2 row-cols-lg-4'>
    <% @posts.each do |post| %>
      <div class='col mb-4'>
        <div class='card border-dark h-100'>
          <%= image_tag post.picture, class: "card-img top thumbnail" if post.picture.attached?  %>
          <div class='card-body'>
            <h5><%= post.name %></h5>
            <h6 class='card-subtitle text-muted'>Added <%= time_ago_in_words(post.created_at) %> ago</h6>
            <p class='card-text text-secondary text-truncate'><%= post.content %></p>
            <div class='d-flex justify-content-between'>
              <%= link_to "See Post", post_path(post.id), class: "btn btn-success text-white" %>
              <h5><%= post.room_type %></h5>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Jordan Hardy", "https://twitter.com/thafuqisacronut", class: "text-white" %></small>
  </div>
</footer>