<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age %>
  </div>

  <div class="field">
    <%= form.label :grow_medium %>
    <%= form.text_field :grow_medium %>
  </div>

  <div class="field">
    <%= form.label :training_method %>
    <%= form.text_field :training_method %>
  </div>

  <div class="field">
    <%= form.label :light_type %>
    <%= form.text_field :light_type %>
  </div>

  <div class="field">
    <%= form.label :room_type %>
    <%= form.text_field :room_type %>
  </div>

  <div class="field">
    <%= form.label :watering %>
    <%= form.text_field :watering %>
  </div>


  <h5 class='mb-3'>Image</h5>
  <div class='form-group mb-3'>
    <%= form.label :picture, class: 'form-label' %>
    <%= form.file_field :picture, accepts: "image/png,image/jpg,image/jpeg", class: 'form-control-file' %>
    <br />
    <small class='form-text text-muted'>PNG, JPG and JPEG only</small>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
